.Pagination{
    background-color: aqua;  
}
.page-item{
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    /* color: #007bff; */
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor:pointer;
}

.page-item:active{
    background-color:#007bff;
}
.contentAlign{
    display:flex;
}
.page-list{
    margin-left: 40%;
}
.results{
    margin-left: 6%;
}

.paginationAlignment{
    list-style:none;
    display: flex;
    padding-left: 0;
    border-radius: .25rem;
    margin-top: auto;
}