.JobDetailView{
    display:grid;
    margin-block-end: unset;
    margin-block-start: unset;
}
.JobDetailView-align{
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.JobDetailHeader{
    min-height: 200px;
    width: 100%;
    margin-top: 34px;
    background-color: #13355c;
    display: inline-block;
    padding-left: 48px;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-bottom: 28px;
    background-position-x: -50px;
    color:white
}
.company-detail-wrapper{
    display: flex;
    width: 100%;
    font-size: 14px;
}
.seperator{  
    width: 4px;
    height: 4px;
    background-color: white;
    /* background-color: rgb(206, 206, 206); */
    display: inline-block;
    margin-right: 14px;
    margin-left: 15px;
    vertical-align: middle;
    border-radius: 50%;
    margin-top: 9px;
}
.skillsWrapper{
    border-radius: 15.5px;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px 11px;
    margin-right: 6px;
    line-height: 16px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: 12px;
    color: #6e6e6e;
}
.align-skills{
    display:flex;
}
.job-detail-title {
    line-height: 28px;
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-right: 10px;
}
.details-container{
    /* margin-top: 40px; */
    padding: 20px 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.04); */
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.content-container{
    margin: 30px;
    display: inline-block;
    vertical-align: top;
    /* width: 73%; */
    /* padding-right: 58px; */
    position: relative;
}
.details, .details .new-color {
    padding-left: 25px;
    padding-right: 25px;
}
/* .alignBtn {
  
} */